section.posts {
  margin-top: 5%;
  width: 70%;
  margin: 0 auto;
}

section.posts .ui.container {
  margin-top: 5%;
}

p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 16px;
  max-height: 32px;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

div.ui.small.image {
  height: 100%;
}
