#register {
  height: 100%;
}
#register .ui.card {
  width: 55%;
  margin: 0 auto;
}
#register .right form .field {
  margin-bottom: 1.5% !important;
}
#register h2 {
  text-align: center;
}
#register .right .bottom {
  text-align: center;
  font-size: 1.1em;
  margin-top: 3%;
}
.right .ui .message {
  text-align: center;
}
#register {
  margin: 3% 15%;
}
